@{
    ViewBag.Title = "API";
}
<h1>ISPM.ToDo.API</h1>

<p>API for <strong>To Do</strong> Application</p>

<ul>
    <li>
        api/todo
        <ul>
            <li>get</li>
            <li>put</li>
            <li>post</li>
            <li>delete</li>
        </ul>
    </li>
</ul>