body {
    font-family: "Segoe UI", Verdana;
    font-size: 14px;
}

.table thead tr td { text-align: center;font-weight: bold; }
.table tbody tr td { text-align: center }
.table tfoot {font-weight: bold;}

.table tbody td {width: 5%;}
.table tbody td+td {width: 5%;}
.table tbody td+td+td {width: 50%;text-align: left;}
.table tbody td+td+td+td {width: 20%;text-align: center;}
.table tbody td+td+td+td+td {width: 20%;}

.strike { text-decoration: line-through;font-style: italic; }